<ons-page>
	<ons-toolbar>
		<div class="center">ユーメニューとは</div>

		<!-- close -->
		<div class="left" ng-cloak>
			<ons-toolbar-button ng-click="navi.popPage()">
				<img src="images/bar_icon/close.png" alt="閉じる" class="bar_icon">
			</ons-toolbar-button>
		</div>
	</ons-toolbar>

	<div class="main_content">

	<p>
		UMenu（ユーメニュー）は、レストラン、ファストフード、居酒屋など、外食のお店のメニューを、シンプルな統一した様式で表示するアプリです。「ユニバーサルメニュー」という意味合いから「ユーメニュー」という名前になっています。<br />
		画面を読み上げることのできるスマートフォンを使って表示すると、このアプリは、視覚障害者にも利用できます。お店によって形式の異なったメニューであっても、シンプルな表示に統一することで、音声環境での利用に於いての実用性を飛躍的に高めています。<br />
		またユーメニューはデジタルデータなので、点字のメニューを作成／修正するとなるとどうしても発生してしまう印刷のコストも不要になります。<br />
		ご利用にあたって、最初に「<a href="javascript:void(0);" ng-click="navi.pushPage('page/what_umenu_is_not.html')">利用上の注意</a>」をお読みください。<br />
	</p>

	</div>
</ons-page>
