<ons-page>
	<ons-toolbar>
		<div class="center">お店のかたへ</div>

		<!-- close -->
		<div class="left" ng-cloak>
			<ons-toolbar-button ng-click="navi.resetToPage('top.html')">
				<img src="images/bar_icon/close.png" alt="閉じる" class="bar_icon">
			</ons-toolbar-button>
		</div>
	</ons-toolbar>
	
	<div class="main_content">

<h2 id="h4247ff8fc129aea004a110fabaf0012d"><a name="h4247ff8fc129aea004a110fabaf0012d">あなたのお店のメニューをユーメニューに掲載しませんか</a></h2>

<p>ユーメニューの編集に興味を持ってくださってありがとうございます。<br />
もし、あなたのお店のメニューをユーメニューに追加したいと考えてくださる場合は、<a href="javascript:void(0);" ng-click="navi.pushPage('page/planning_operation.html')">運営者</a>までメニューをお送りください。<br />
内容確認の上、umenuに反映させていただきます。<br />
</p>


</ons-page>

