<ons-page ng-controller="FavoriteController">
	<ons-toolbar>
		<div class="center">お気に入り</div>

		<!-- close -->
		<div class="left" ng-cloak>
			<ons-toolbar-button ng-click="navi.resetToPage('top.html')">
				<img src="images/bar_icon/close.png" alt="閉じる" class="bar_icon">
			</ons-toolbar-button>
		</div>
	</ons-toolbar>

	<ons-list>
		<ons-list-item ng-repeat="favorite in favorites"
			class="list__item__line-height"
			style="pagging:0; margin:0;width: 100%;"
			modifier="tappable"
			ng-click="pushMenuPage(favorite)"
			>
			<div ng-bind="favorite.name">
			</div>
		</ons-list-item>
	</ons-list>
</ons-page>
