<ons-page ng-controller="MenuController">

	<ons-toolbar>
		<div class="center">メニュー</div>

		<!-- close -->
		<div class="left" ng-cloak>
			<ons-toolbar-button ng-click="navi.resetToPage('top.html')">
				<ons-icon icon="ion-close"></ons-icon>
			</ons-toolbar-button>
		</div>
	</ons-toolbar>


	<ons-list>
		<ons-list-item
			modifier="tappable" class="list__item__line-height"
			ng-click="app.resetToPage('top.html')"
		>
			<ons-icon icon="ion-home" style="color: #666;"></ons-icon> トップ
		</ons-list-item>

		<ons-list-item  ng-repeat="category in categories"
			modifier="tappable"
			class="list__item__line-height"
			ng-click="pushCategoryPage(category)">
			<span style="margin-left: 10px;">
				<ons-icon icon="ion-android-arrow-dropright-circle" style="color: #666;"></ons-icon>
				{{category.name}}
			</span>
		</ons-list-item>

		<ons-list-item  ng-repeat="menu in menuList"
			modifier="tappable" class="list__item__line-height"
			ng-click="app.slidingMenu.setMainPage(menu.page, {closeMenu:true})">
			<span style="margin-left: 10px;">
				<ons-icon icon="ion-image" style="color: #666;"></ons-icon>
				{{menu.name}}
			</span>
		</ons-list-item>
		

		
		<ons-list-item ng-repeat="data in dataList"
			modifier="tappable" class="list__item__line-height"
			ng-click="showDetailPage(data)">
			<span style="margin-left: 10px;">
				<ons-icon icon="ion-image" style="color: #666;"></ons-icon>
					{{data.name}}
			</span>
		</ons-list-item>
	</ons-list>



</ons-page>
