/**/

@font-face {
	font-family: 'GenJyuuGothic-Medium';
	src: url('fonts/GenJyuuGothic-Medium.ttf') format('truetype');
}
*
{
	font-family: 'GenJyuuGothic-Medium', "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	line-height: 1.5;
	padding:0;
	margin: 0;
}


li
{
    list-style: none;
}
h1
{
	font-size: 120%;
	margin-bottom: 1em;
}
h2
{
	font-size: 110%;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
h3
{
	font-weight: bold;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
dl {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: #e7e7e7 none repeat scroll 0 0;
	border-color: -moz-use-text-color #666 #666;
	border-image: none;
	border-style: none solid solid;
	border-width: medium 1px 1px;
	margin-top: 1em;
	margin-bottom: 2em;
	padding: 0;
}
dt, dd {
	margin: 0;
	padding: 0;
}
dt,
dd
 {
	min-height: 2em;
	padding: 0.5em;
}
dt
{
	border-top: 1px solid #666;
	box-sizing: border-box;
	clear: left;
	float: left;
	font-weight: 700;
}
dd
{
	background: #fff none repeat scroll 0 0;
	border-left: 1px solid #666;
	border-top: 1px solid #666;
	overflow: hidden;
}
/* default */
dt
{
	width: 6em;
}
dd
{
	margin-left: 6em;
}

.padding-normal
{
	padding: 10px 9px;
}

.page
{
	padding: 1em;
}
.page__background
{
	 background-color: #f5f0e1;
}
.page .navigation-bar
{
	background-color: #b33329;
	color: #ffffff;
}
.navigation-bar__item, .navigation-bar__left, .navigation-bar__right, .navigation-bar__center,
.toolbar-button, .toolbar-button--outline, .toolbar-button--quiet
{
	color: #ffffff;
}
.tab-bar
{
	background-color: #b33329;
}

.page__content
{
	color: #664b21;
}
/*
 * top -> home
 */
.category_list_item,
.list__item.category_list_item
{
	background: transparent;
	border-bottom: 0 none;
	box-shadow: none;
	display: block;
	float: left;
	max-width: 27.3333%;
	margin: 3%;
}
.category_list_item img
{
	max-width: 100%;
}
.category_list_item span
{
	display: block;
	width: 100%;
	height: 3em;
	text-align: center;
	font-size: 70%;
}
.new_arrival h2
{
	background-color: #b33329;
	padding: 0.5em;
	color: #ffffff;
	margin-bottom: 0;
}
.new_arrival
{
	clear: both;
	padding: 0;
}
.new_arrival ul li
{
	margin: 0;
}
