/**/

li
{
    list-style: none;
}

*
{
}
.page
{
	padding: 1em;
}
.page__background
{
	 background-color: #f5f0e1;
}
.page .navigation-bar
{
	background-color: #b33329;
	color: #ffffff;
}
.tab-bar
{
	background-color: #b33329;
}

.page__content
{
	top: 200px;
	color: #664b21
}
/*
 * top -> home
 */
.category_list_item,
.list__item.category_list_item
{
	background: transparent;
	border-bottom: 0 none;
	box-shadow: none;
	display: block;
	float: left;
	max-width: 27.3333%;
	margin: 3%;
}
.category_list_item img
{
	max-width: 100%;
}
.category_list_item span
{
	display: block;
	width: 100%;
	height: 3em;
	text-align: center;
	font-size: 70%;
}
